<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: content">
<head>
    <title>Books</title>
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
<div class="book-list">
    <h1>Books</h1>
    <ul>
        <li th:each="book : ${books}">
            <span th:text="${book.title}">Book Title</span>
            <span th:text="${book.author.name}">Author</span>
            <span th:text="${book.genre}">Genre</span>
            <div class="actions">
                <form th:action="@{/book/{id}/add-to-finished(id=${book.id})}" method="post">
                    <button type="submit">Finished</button>
                </form>
                <form th:action="@{/book/{id}/add-to-reading(id=${book.id})}" method="post">
                    <button type="submit">Reading</button>
                </form>
                <form th:action="@{/book/{id}/add-to-want-to-read(id=${book.id})}" method="post">
                    <button type="submit">Want to Read</button>
                </form>
            </div>
        </li>
    </ul>
</div>
</body>
</html>