<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<input type="hidden" id="userId" th:value="${userId}"/>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">LibraryApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/my-books}">My books</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<main class="container mt-5">
    <h1>Books Available</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author.name}"></td>
                    <td th:text="${book.genre}"></td>
                    <td class="text-right">
                        <button class="btn btn-primary btn-sm" onclick="updateBookStatus(${book.id}, 'wantToRead')">В планах</button>
                        <button class="btn btn-warning btn-sm" onclick="updateBookStatus(${book.id}, 'reading')">Читаю</button>
                        <button class="btn btn-success btn-sm" onclick="updateBookStatus(${book.id}, 'finished')">Прочитал</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<script>
    function updateBookStatus(bookId, status) {
        var userId = document.getElementById('userId').value; // Получение ID пользователя из скрытого поля
        var url = "/users/";
        if (status === "wantToRead") {
            url += "addBookToWantToRead";
        } else if (status === "reading") {
            url += "addBookToReading";
        } else if (status === "finished") {
            url += "addBookToFinished";
        }

        $.post(url, { userId: userId, bookId: bookId })
            .done(function() {
                alert("Статус книги успешно обновлен");
            })
            .fail(function() {
                alert("Произошла ошибка при обновлении статуса книги");
            });
    }
</script>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
