body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #2c2c2c;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.sidebar {
    width: 20%;
    padding-right: 20px;
}

.content {
    width: 80%;
}

.filter h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.filter-group h3 {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.filter-group ul {
    list-style-type: none;
    padding: 0;
}

.filter-group ul li {
    margin-bottom: 10px;
}

.sorting {
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    flex-direction: column;
}

.book {
    display: flex;
    margin-bottom: 20px;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-info {
    display: flex;
    flex-direction: column;
}

.book-info h3 {
    margin: 0 0 10px;
}

.read-more {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-self: start;
}

footer {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.book-detail {
    max-width: 800px;
    margin: 40px auto;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-detail-header {
    display: flex;
    margin-bottom: 20px;
}

.book-detail-header img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-detail-info {
    display: flex;
    flex-direction: column;
}

.book-detail-info h2 {
    margin: 0 0 10px;
}

.book-detail-info p {
    margin: 5px 0;
}

.book-detail-description {
    margin-top: 20px;
}

.book-detail-description h3 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
